* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
font-family: 'Archivo Black', sans-serif;
font-family: 'Bungee Shade', cursive;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Righteous', cursive;
*/

:root  {
    --reddish: #e84855;
    --blue: #3185fc;
    --yellow: #f9dc5c;
    --darkBlue: #403f4c;
    --lightBlue: #c7e8f3;
    --darkGrey: #302f3a;
    --ivory: #FFFFF2;
    --medBlue: #3f7cac;
    --red: #de6449;
}

body {
    background: var(--yellow);
    font-family: 'Archivo Black', Helvetica, Arial, sans-serif;
    color: ivory;
}

header {
    background: var(--ivory);
    color: var(--blue);
}

.header-sun {
    color: var(--red);
    font-size: 25rem;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 64px;
}

h2 {
    font-family: 'Hammersmith One', sans-serif;
    color: black;
}

h3 {
    font-size: 36px;
    font-family: 'Righteous', cursive;
}

h4 {
    font-size: 24px;
    font-family: 'Hammersmith One', sans-serif;
}

menu {
    background: var(--blue);
}

.today {
    font-size: 36px;
    background: var(--blue);
}

.oi-sun {
    color: var(--yellow);
}

.sun-header {
}