* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
font-family: 'Archivo Black', sans-serif;
font-family: 'Bungee Shade', cursive;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Righteous', cursive;
*/

:root  {
    --reddish: #e84855;
    --blue: #7f8bd0;
    --blueSemi: rgba(127, 139, 208, 0.3);
    --yellow: #f9dc5c;
    --darkBlue: #403f4c;
    --lightBlue: #c7e8f3;
    --darkGrey: #302f3a;
    --ivory: #FFFFF2;
    --medBlue: #3f7cac;
    --red: #de6449;
}

body {
    background: var(--yellow);
    /*font-family: 'Archivo Black', Helvetica, Arial, sans-serif;*/
    font-size: 1rem;
    color: ivory;
}

header {
    background-color: var(--ivory);
    background-size: 2rem 2rem;
    background-image: 
        linear-gradient(to right, var(--blueSemi) 1px, transparent 1px),
        linear-gradient(to bottom, var(--blueSemi) 1px, transparent 1px);
    color: var(--blue);
}

.header-sun {
    color: var(--red);
    font-size: 25rem;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 64px;
}

h2 {
    font-family: 'Hammersmith One', sans-serif;
    color: black;
}

h3 {
    font-size: 36px;
    font-family: 'Righteous', cursive;
}

h4 {
    font-size: 24px;
    font-family: 'Hammersmith One', sans-serif;
}

menu {
    background: var(--blue) !important;
    width: 20vw;
}

.container-fluid {
    height: 100vw;
}

.today {
    background: var(--blue);
}

.oi-sun {
    color: var(--yellow);
}

.sun-header {
    color: var(--red);
}

.flex-fill {
    flex: 1;
}

.card {
    color: black;
}

ul, .btn, btn:hover {
    border: none;
}

.btn:hover {
    background-color: var(--yellow);
    transition: all 0.3s ease-in-out;
}

.list-group-item {
    color: black;
}

.list-group-item:hover {
    background-color: var(--yellow);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.uvi-good {
    background-color: var(--blue);
    border: 2px solid black;
    border-radius: 5px;
}

.uvi-moderate {
    background-color: var(--yellow);
    border: 2px solid black;
    border-radius: 5px;
}

.uvi-severe {
    background-color: var(--red);
    border: 2px solid black;
    border-radius: 5px;
}

#today-icon i {
    color: var(--ivory);
    font-size: 4rem;
}